$primary-font-family: 'Oswald', Arial, sans-serif;
$primary-text-color: #414042;

$sky-blue: #75C2D2;
$dark-purple: #6D62AE;
$green: #92C493;
$lighter-purple: #A95589;
$yellow: #E3C25A;
$orange: #D6916A;